{% extends "base.html" %}

{% block title %}account info{% endblock %}

{% block content %}
  <div class="section center">
    <a class="back" href="{% url 'accounts_index' %}">< back</a>
    <div class="center">
      <div class="alt-label-text">goals</div>
    </div>

    <br>

    <form class="flex-column width-100" action="/accounts/goals/" method="post">
        {% csrf_token %}
        <div class="flex-row width-100 flex-between">
          <div class="flex-column">
            <div class="flex-row">
              <label for="id_protein_goal">protein: </label>
              <input class="input-short" type="number" name="protein_goal" step="any" required="" id="id_protein_goal" value="{{user.protein_goal}}">
            </div>
        
            <div class="flex-row">
              <label for="id_fruit_goal">fruit:</label>
              <input class="input-short" type="number" name="fruit_goal" required="" id="id_fruit_goal" value="{{user.fruit_goal}}">
            </div>
    
            <div class="flex-row">
              <label for="id_veg_goal">veg:</label>
              <input class="input-short" type="number" name="veg_goal" required="" id="id_veg_goal" value="{{user.veg_goal}}">
            </div>

            <div class="flex-row">
              <label for="id_protein_goal_g">protein (g):</label>
              <input class="input-short" type="number" name="protein_goal_g" required="" id="id_protein_goal_g" value="{{user.protein_goal_g}}">
            </div>
    
          </div>
    
          <div class="flex-column">

            <div class="flex-row">
              <label for="id_dairy_goal">dairy:</label>
              <input class="input-short" type="number" name="dairy_goal" required="" id="id_dairy_goal" value="{{user.dairy_goal}}">
            </div>
              
            <div class="flex-row">
              <label for="id_fats_goal">fats:</label>
              <input class="input-short" type="number" name="fats_goal" required="" id="id_fats_goal" value="{{user.fats_goal}}" >
            </div>
    
            <div class="flex-row">
              <label for="id_grains_goal">grains:</label>
              <input class="input-short" type="number" name="grains_goal" required="" id="id_grains_goal" value="{{user.grains_goal}}">
            </div>
    
            <div class="flex-row">
              <label for="id_cal_goal">cal:</label>
              <input class="input-short" type="number" name="cal_goal" required="" id="id_cal_goal" value="{{user.cal_goal}}">
            </div>
          </div>
        </div>
        
        <br>
        <button type="submit" value="submit" >submit</button>
    </form>
  </div>

{% endblock %}