{% extends "base.html" %}

{% block title %}account info{% endblock %}

{% block content %}
  <div class="flex-row flex-between section">
    <p>{{user.app_greeting}}</p>
    <h5><a href="{% url 'greeting' %}">app greeting ></a></h5>
  </div>

  <div class="flex-row flex-between section">
    <div class="flex-row" style="letter-spacing: -4px; font-weight: bold;">
      <div style="color: {{ user.darkest}}">&#9711; </div> 
      <div style="color: {{ user.lighter}}">&#9711; </div> 
      <div style="color: {{ user.lightest}}">&#9711; </div> 
    </div>
    <h5><a href="{% url 'colors' %}">color scheme ></a></h5>
  </div>

  <div class="flex-row flex-between section">
    <p>{{user.protein_goal_g}}g protein, {{user.cal_goal}}kcal, etc</p>
    <h5><a href="{% url 'goals' %}">goals ></a></h5>
  </div>

  <div class="flex-row flex-between section">
    <p>{{user.email}}, {{user.username}}</p>
    <h5><a href="{% url 'details' %}">login details ></a></h5>
  </div>
{% endblock %}