{% extends "base.html" %}

{% block title %}account info{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <!--- if last used in the middle of a workout-->
  <div class="section-darker">
    <a class="flex-between flex-center width-100 flex-space no-margin no-padding" href="/accounts/greeting">
        <h5 class="no-margin"> app greeting</h5> <p>{{ user.app_greeting }} ></p>
    </a>
  </div>
  <div class="section-darker">
    <a class="flex-between flex-center width-100 flex-space no-margin no-padding" href="/accounts/colors">
        <h5 class="no-margin"> color scheme</h5> 
        <p style="letter-spacing: -4px">
            <div class="no-margin no-padding" style="color: {{ user.darkest}}">&#9711; </div> 
            <div class="no-margin no-padding" style="color: {{ user.lighter}}">&#9711; </div> 
            <div class="no-margin no-padding" style="color: {{ user.lightest}}">&#9711; </div> 
        >
    </p>
    </a>
  </div>
  <div class="section-darker">
    <a class="flex-between flex-center width-100 flex-space no-margin no-padding" href="/accounts/details">
        <h5 class="no-margin"> login details</h5> <p> ></p>
    </a>
  </div>
  <div class="section-darker">
    <a class="flex-between flex-center width-100 flex-space no-margin no-padding" href="/accounts/goals">
        <h5 class="no-margin"> goals</h5> <p>></p>
    </a>
  </div>

{% else %}
  <div class="section-darker flex-column">
    <h4>you're not currently logged in</h4>
    <a class="light-button" href="{% url 'login' %}">log in</a>
  </div>
{% endif %}
{% endblock %}