
{% extends "base.html" %}

{% block title %}account info{% endblock %}

{% block content %}
{% if user.is_authenticated %}
 <!--- if last used in the middle of a workout-->
  <div class="section-darker">
    <form action="/accounts/details/" method="post">
        {% csrf_token %} 

        <input  class="color" name="email" type="email" value="{{user.email}}">
        <input  class="color" name="username" type="text" value="{{user.username}}">
        <input  class="color" name="password" type="password">


        <input type="submit" value="submit">
    </form>
  </div>

{% else %}
  <div class="section-darker flex-column">
    <h4>you're not currently logged in</h4>
    <a class="light-button" href="{% url 'login' %}">log in</a>
  </div>
{% endif %}
{% endblock %}