
{% extends "base.html" %}

{% block title %}account info{% endblock %}

{% block content %}
  <div class="section center">
    <a class="back" href="{% url 'accounts_index' %}">< back</a>
    <br>
    <form class="center width-100 flex-column" action="/accounts/details/" method="post">
        {% csrf_token %} 
        <div>
          <label for="label">email:</label>
          <input  class="input-medium" name="email" type="email" value="{{user.email}}">
        </div>
        
        <div>
          <label for="username">username:</label>
          <input  class="input-medium" name="username" type="text" value="{{user.username}}">
        </div>
        
        <div>
          <label for="password">password:</label>
          <input  class="input-medium" name="password" type="password">  
        </div>
      
        <p>{{error}}</p>
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'logout' %}">log out</a>
  </div>

{% endblock %}