{% extends "base2.html" %}

{% block title %}log in{% endblock %}

{% block content %}


<form class="center flex-column section" method="post">
  <div class="center">
    <div class="alt-label-text center flex-column" id="current-date" onclick="update(new Date())">login</div>
  </div>

  <br>
  
  {% csrf_token %} 
  
  <div>
    <label for="username">username:</label>
    <input  class="input-medium" name="username" type="text" value="{{user.username}}">
  </div>
  
  <div>
    <label for="password">password:</label>
    <input  class="input-medium" name="password" type="password">  
  </div>

  <br>

  <input type="submit" value="log in">

  <br>

  <div class="center flex-around">
    <a href="{% url 'signup' %}">register &gt;</a>
  <a href="{% url 'password_reset' %}">i forgot my password ></a>
  </div>
</form>

{% endblock %}