{% extends "base.html" %}

{% block title %}food{% endblock %}

{% block content %} 
  <div class="section">

    <a class="back" href="{% url 'food_index' %}">< back</a>
    <div class="center">
      <div class="alt-label-text">add food</div>
    </div>

    <br>
    
    <form class="center flex-column" action="/food/add/" method="post">
        {% csrf_token %}
        
         <div>
            <label for="label">label:</label>
            <input  name="label" type="text" value="{{meal.label}}"> 
         </div> 

         <br>

         <div class="flex-row flex-around width-100">
            <div >
              <div >
                <label class="no-padding" for="kcal">kcal:</label>
                <input class="no-padding input-short" class="color" name="kcal" type="number" value="{{meal.kcal}}">
              </div>
              <div >
                <label class="no-padding" for="gprotein">g protein:</label>
                <input class=" no-padding input-short" class="color" name="gprotein" type="number">
              </div>

              <br>

              <div style="background-color: var(--darkest); height: 50%; border-radius: 10px;">
                (photo filler)
              </div>
            </div>
              <div class="flex-column no-margin no-padding">
                <div>
                  <input  class="" value="protein" type="checkbox" value="" name="checkboxes[]">
                  <label class="" for="protein">protein</label>
                </div>
                
                <div>
                  <input  class="" value="fruit" type="checkbox" value="" name="checkboxes[]">
                  <label  for="fruit">fruit</label>
                </div>
                <div >
                  <input  class="" value="veg" type="checkbox" value="" name="checkboxes[]">
                  <label  for="veg">veg</label>
                </div>
                <div >
                  <input  class="" value="grains" type="checkbox" value="" name="checkboxes[]">
                  <label   for="grains">grains</label>
                </div>
                <div >
                  <input  class="" value="dairy" type="checkbox" value="" name="checkboxes[]">
                  <label  for="dairy">dairy</label>
                </div>
                  
                <div >
                  <input  class="" value="fats" type="checkbox" value="" name="checkboxes[]">
                  <label  for="fats">fats</label>
                </div>
              </div>
            
                <input hidden="true" id="currentdate" name="date" type="date">
         </div>

         <br>

         <div class="center flex-around">
          <input class="input-short" type="submit" value="log!">

          <div >
            <label  for="lookup_save">save in lookup:</label>
            <input  class="" value="lookup_save" type="checkbox" name="checkboxes[]">
          </div>
         </div>
        
    </form>

    <div class="center flex-column">
      <form  onsubmit="return false">
        <label for="search">search</label>
        <input id="search" class="input-medium" name="search" type="text" >
        <i class="fa fa-search"></i>
      </form>
      <div id="food-list" >
        <table id="food-data">
        </table>
      </div>
      
    </div>

  </div>

  <script>

    var date = new Date();

    var day = date.getDate(),
        month = date.getMonth() + 1,
        year = date.getFullYear(),
        hour = date.getHours(),
        min  = date.getMinutes();

    month = (month < 10 ? "0" : "") + month;
    day = (day < 10 ? "0" : "") + day;
    hour = (hour < 10 ? "0" : "") + hour;
    min = (min < 10 ? "0" : "") + min;

    var today = year + "-" + month + "-" + day, displayTime = hour + ":" + min; 

    document.getElementById('currentdate').value = today;      

    async function update(value){
      const response = await fetch("/food/all/?q=" + value);
      const json = await response.json();
      
      table = document.querySelector('#food-data');
      table.innerHTML = "";

      for (let i = 0; i < json.custom_foods.length; i++) {
        table.innerHTML += '<tr><td>' + json.custom_foods[i][0] + '</td> ' + '<td>' + json.custom_foods[i][1] + 'kcal</td>' + '<td>' + json.custom_foods[i][2] + 'g</td> ' +'</tr>';
      }
    }

    update("");

    let input = document.querySelector('#search');
    input.addEventListener('input', async function() {
      update(input.value);
    })
  </script>

{% endblock %}