{% extends "base.html" %}

{% block title %}food{% endblock %}

{% block content %}
  <!-- todo: changing image, today shortcut button -->
  <div class="section center">
    <div class="center">
      <div class="alt-label-text center flex-column" id="current-date" onclick="update(new Date())">add food</div>
    </div>
      
    <div class="flex-row width-100 center">

      <div class="center flex-column margin">
        <div class="flex-row">
          <input id="cal-check" type="checkbox">
          <p class="label-text">&nbsp;cal in</p>
        </div>
        <div class="dark-stylized big-text no-margin" id="kcal"></div>
        <div class="dark-label-text">goal:{{user.cal_goal}}</div>
      </div>

      <div class="center flex-column margin">
        <div class="flex-row center">
          <input id="protein-g-check" type="checkbox">
          <p class="label-text">&nbsp;protein</p>
        </div>
        <div class="dark-stylized big-text no-margin" id="protein_g"></div>
        <div class="dark-label-text">goal:{{user.protein_goal_g}}</div>
      </div>
  
      <img style="background-color: var(--darkest); max-height: 100px; margin: 10px; border-radius: 10px;" id="food-img" >
      
    </div>

    <br>

    <div class="width-100 center flex-column">
      <div id="food-data-2">
         <table id="food-data">
        </table>
      </div>

      <br>
     
      <a class="width-80 center dark-button bold big-text" href="{% url 'food-add' %}">+</a>
    </div>

    <br>

    <table class="label-text width-100 center" style="text-align: left">
      <tr>
        <td id="fruit-check" ></td>
        <td id="veg-check" ><input type="checkbox"> veg (NUM)/{{user.veg_goal}}</td>
      </tr>
      <tr class="no-margin no-padding">
        <td id="protein-check"><input type="checkbox"> protein (NUM)/{{user.protein_goal}}</td>
        <td id="grains-check"><input type="checkbox"> grains (NUM)/{{user.grains_goal}}</td>
      </tr>
      <tr class="no-margin no-padding">
        <td id="fats-check" ><input type="checkbox"> fats (NUM)/{{user.fats_goal}}</td>
        <td id="dairy-check" ><input type="checkbox"> dairy (NUM)/{{user.dairy_goal}}</td>
      </tr>
    </table>

    <br>

    <div class="flex-around width-100">
      <button onclick="previous()" id="previous" class="light-button">previous</button>
      <a href="{% url 'food-progress' %}"><button class="dark-button">view stats</button></a>
      <button onclick="next()" id="next" class="light-button">next</button>

    </div>

  </div>

<script>
  let photos = []
  let photo_index = 0;

  async function update(date){
    console.log("running function")
    var dd = String(date.getDate()).padStart(2, '0');
    var mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = date.getFullYear();

    var todaystr = mm + '/' + dd + '/' + yyyy;
    document.querySelector("#current-date").innerHTML = "<div>your food</div><div>" + todaystr + "</div";

    const response = await fetch("/food/food-data/"+ todaystr + "/");
    const json = await response.json();
    // update html
    document.querySelector("#kcal").innerHTML = json.kcal + "kcal";
    document.querySelector("#protein_g").innerHTML = json.g_protein  + "g";

    console.log(json.meals);
    table = document.querySelector('#food-data');
    table.innerHTML = "";
    for (let i = 0; i < json.meals.length; i+=4) {
      table.innerHTML += '<tr><td>' + "<a href=/food/edit/" + json.meals[i + 3] + "/ >" + json.meals[i] + '</a> </td> ' + '<td>' + json.meals[i + 1] + 'kcal</td>' + '<td>' + json.meals[i + 2] + 'g</td> ' +'</tr>';
    }

    document.querySelector('#fruit-check').innerHTML = "<input type='checkbox'> fruit " + json.fruit + "/{{user.fruit_goal}}";
    document.querySelector('#protein-check').innerHTML = "<input type='checkbox'> protein " + json.protein + "/{{user.protein_goal}}";
    document.querySelector('#fats-check').innerHTML = "<input type='checkbox'> fats " + json.fats + "/{{user.fats_goal}}";
    document.querySelector('#veg-check').innerHTML = "<input type='checkbox'> veg " + json.veg + "/{{user.veg_goal}}";
    document.querySelector('#grains-check').innerHTML = "<input type='checkbox'> grains " + json.grains + "/{{user.grains_goal}}";
    document.querySelector('#dairy-check').innerHTML = "<input type='checkbox'> dairy " + json.dairy + "/{{user.dairy_goal}}";

    document.querySelector('#fruit-check > input').checked = json.fruit >= {{user.fruit_goal}};
    document.querySelector('#protein-check > input').checked = json.protein >= {{user.protein_goal}};
    document.querySelector('#fats-check > input').checked = json.fats >= {{user.fats_goal}};
    document.querySelector('#veg-check > input').checked = json.veg >= {{user.veg_goal}};
    document.querySelector('#grains-check > input').checked = json.grains >= {{user.grains_goal}};
    document.querySelector('#dairy-check > input').checked = json.dairy >= {{user.dairy_goal}};
    document.querySelector('#protein-g-check').checked = json.g_protein >= {{user.protein_goal_g}};
    document.querySelector('#cal-check').checked = json.kcal >= {{user.cal_goal}};

    photos = json['photos'];
    console.log(photos)
  }

  function updatePhoto(){
    if (photos.length > 0){
      photo_index = (photo_index + 1) % photos.length;
      console.log(photos[photo_index])
      document.querySelector("#food-img").src = photos[photo_index];
    }
  }

  setInterval(updatePhoto, 1000);


  // get current data
  let today = new Date();
  update(today)

  // function to update data
  function next(){
    today.setHours(today.getHours() + 24);
    update(today)
  }

  function previous(){
    today.setHours(today.getHours() - 24);
    update(today)
  }
  

</script>

{% endblock %}