:root {
    --darkest: #313630;
    --darker: #4E524D;
    --lighter: #626661;
    --lightest: #8C8C8C;
}

/* base styling */ 

* {
    text-transform: lowercase;
}

html {
    background-color: var(--lighter);
    display: flex;
    justify-content: center;
}

body {
    margin: 0px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    color: var(--darkest);
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 65px;
    padding-bottom: 90px;

    overflow-y: scroll;
}

header, .header {
    color: var(--darkest);
    font-size: 48px;
    font-family: 'DM Serif Display', serif;
    letter-spacing: -4px;

    position: fixed;
    top: 0;
    background-color: var(--lighter);
    width: 100%;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 15px;
    background-color: var(--lighter);
    width: 350px;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    margin: 10px;

    border-top: 5px solid var(--darker)
}

.selected {
    background-color: var(--darker);
}

.nav-icon {
    padding: 8px;
    border-radius: 50%;
}

a {
    color: var(--darkest);
    text-decoration: none;
    font-style: italic;
    font-size: 15px;
}



.section {
    background-color: var(--darker);
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-top: 15px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* headings */

.light-stylized, .dark-stylized {
    color: var(--lightest);
    font-family: 'DM Serif Display', serif; 
    letter-spacing: -0.5px;
    font-weight: normal;
    font-size: 20px;
    margin: 10px;
}

.dark-stylized {
    color: var(--darkest);
}

.label-text {
    color: var(--lighter);
    font-size: 15px;
}

.alt-label-text {
    color: var(--darkest);
    font-size: 18px;
    font-weight: bold;
}

/* icons */
.workout-icon{
    background-color: var(--darkest);
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    width: 50px;
    height: 50px;
    color: var(--lightest)
}

.icon {
    max-width: 50px;
    max-height: 50px;
}

/* flex */

select {
    margin: 5px;
    width: 115px;
    border-radius: 10px;
    color: var(--darkest);
    background-color: var(--lightest);
    border: none;
    padding: 1px;

}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-around{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.back {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
}

.width-100 {
    width: 100%;
}

.margin {
    margin: 10px;
}

.color{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    margin: 5px;
}

.color::-webkit-color-swatch-wrapper {
    padding: 0; 
}
.color::-webkit-color-swatch {
    border: 0px;
    border-radius: 50%;
}

/* forms */

input[type="submit"], button {
    background-color: var(--darkest);
    color: var(--lightest);
    font-style: italic;
    border: none;
    height: 25px;
    font-size: 16px;
    border-radius: 10px;
}

input {
    background-color: var(--lightest);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: var(--darker);
}

.input-short {
    width: 30px;
    margin: 5px;
}

.input-medium {
    width: 175px;
    margin: 5px;
}

label {
    font-style: italic;
    color: var(--lightest);
}


input[type='checkbox']:checked {
    background-color: var(--lightest);
}

input[type='checkbox']:checked:after {
    content: '\2713';
    font-weight: bolder;
    color:var(--darker);
}

input[type='checkbox']{
    text-align: center;
    vertical-align: middle;
    width: 20px !important;
    height: 20px !important;
    appearance:none;
    border-radius:50%;
    border: var(--darkest);
    background-color: var(--lighter);
    box-shadow: none;
    font-size: 1em;
    content: '\1F784';
    padding: 0px;
    margin: 5px;
}

.input-text-2-dark, .input-text-2-light {
    background-color: var(--darker);
    border-bottom: solid 2px var(--lightest);
    border-radius: 0px;
    color: var(--lightest)
}

.input-text-2-dark {
    border-bottom: solid 2px var(--darkest);
    color: var(--darkest);
    font-style: italic;
    font-weight: bold;
}

::placeholder {
    color: var(--darkest)
}

.no-margin {
    margin: 0px;
}

.margin {
    margin-left:5;
    margin-right: 5px;
}


input[type="submit"], button, .light-button, .dark-button {
    background-color: var(--darkest);
    color: var(--lightest);
    padding-top: 0px;
    padding-bottom: 0px;
    font-style: italic;
    border: none;
    height: 25px;
    font-size: 16px;
    border-radius: 10px;
}

button, .dark-button {
    background-color: var(--darkest);
}


.light-button{
    background-color: var(--lighter);
}

.bold {
    font-weight: bolder;
}

.width-80 {
    width: 80%;
}

.big-text {
    font-size: 25px;
}
.bigger-text {
    font-size: 40px;
}

/* misc */
#food-list{
    max-height: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#food-data-2{
    max-height: 15vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

