{% extends "base.html" %}

{% block title %}workout{% endblock %}

{% block content %}

  <div class="section center" >
    <a>your workouts</a>
    <br>
    <div class=" flex-row" style="flex-wrap: wrap;">
      {% for workout in workouts %}
      <div class="center flex-column">
        <a class="label-text" href="{{workout.pk}}/">{{ workout.label}} > </a>
        <div class="workout-icon">{{workout.svg |safe}}</div>
      </div>
      {% endfor %}

      <div class="center flex-column">
        <a class="label-text" href="{% url 'workout-add' %}">add ></a>
        <a href="{% url 'workout-add' %}" class="bigger-text bold workout-icon  center">
          +
        </a>
      </div>
    </div>
</div>

{% endblock %}