{% extends "base.html" %}

{% block title %}workout{% endblock %}

{% block content %}
{% if user.is_authenticated %}  

  <form class="section center" action="" method="post">
    <a class="back" href="{% url 'workouts_index' %}">< back</a>
    <br>
    <div class="center flex-between width-100">
      <div class="alt-label-text">{{workout.label}}</div>
      <div class="label-text">today's bests</div>
    </div>

    <br>

    {% csrf_token %} 

    {% for exercise in exercises %}
        <div class="flex-column width-100" >
           <div class="width-100 flex-row flex-between">
              <div style="overflow-x: scroll; max-width: 150px;" class="flex-row">
                <input type="checkbox"> {{exercise.label}}
              </div>
              <div>
                <input type="number" required="true" name="{{exercise.label}}_reps" class="input-short" value="0">
                 x
                <input type="number" required="true" name="{{exercise.label}}_intensity" class="input-short" value="0"> {{exercise.units}}
              </div>
           </div>
    
            {% for set in exercise.sets %}
            <div class="flex-column">
                <div >
                    &emsp; <input type="checkbox"> {{set.reps}} x {{set.intensity}} {{exercise.units}}
                   </div>
                
            </div>
            {% endfor %}
            <br>
        </div>
    {% endfor %}

    <br>

    <div class="flex-row width-80 flex-around">
        <input type="submit" class="dark-button" value="finish and update">
        <!--<button type="button" class="light-button">quick edit</button>-->
    </div>
      
    </div>

</form>

{% else %}
  <div class="section-darker flex-column">
    <h4>you're not currently logged in</h4>
    <a class="light-button" href="{% url 'login' %}">log in</a>
  </div>
{% endif %}
{% endblock %}