{% extends "base.html" %}

{% block title %}workout{% endblock %}

{% block content %}
{% if user.is_authenticated %}  

  <form class="section" action="" method="post">
    <a class="back" href="{% url 'workouts_index' %}">< back</a>
    <br>
    <div class="center flex-between">
      <div class="alt-label-text">{{workout.label}}</div>
      <div class="label-text">today's bests</div>
    </div>

    <br>

    {% csrf_token %} 

    {% for exercise in exercises %}
        <div class="flex-column width-100" >
           <div class="width-100 flex-row flex-between">
              <div>
                <input type="checkbox"> {{exercise.label}}
              </div>
              <div>
                <input type="number" name="{{exercise.label}}_reps" class="input-short">x<input type="number" name="{{exercise.label}}_intensity" class="input-short">
              </div>
           </div>
    
            {% for set in exercise.sets %}
            <div class="flex-column">
                <div >
                    &emsp; <input type="checkbox"> {{set.reps}} x {{set.intensity}} {{exercise.units}}
                   </div>
                
            </div>
            {% endfor %}
            <br>
        </div>
    {% endfor %}

    <br>

    <div class="flex-row width-100 flex-around">
      <a href="edit/"><button class="light-button" type="button">full edit</button></a>
        <input type="submit" class="dark-button" value="finished!">
        <button type="button" class="light-button">quick edit</button>
    </div>
      
    </div>

</form>

{% else %}
  <div class="section-darker flex-column">
    <h4>you're not currently logged in</h4>
    <a class="light-button" href="{% url 'login' %}">log in</a>
  </div>
{% endif %}
{% endblock %}